<style>
    .md .navbar~* .page-content,
    .md .navbar~.page-content {
        padding-top: 0px;
    }

    .md .navbar {
        height: 63px;
    }

    .list-block .item-inner:after {
        background-color: transparent;
    }

    .md .card-footer,
    .md .card-header {
        min-height: 32px;
    }

    .card-content-inner {
        padding: 4px;
    }

    .img-circle {
        border-radius: 50%;
    }

    .list-block .item-link .item-inner {
        font-size: 19;
    }

    .navbar .center,
    .subnavbar .center {
        font-size: 25px;
    }

    .list-block {
        margin: 2px 0;
    }
</style>
<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal">
    <div class="content-block">
        <p>Left Panel content here</p>
        <p><a href="#" class="panel-close">Close me</a></p>
        <p><a href="#" class="open-right-panel">Open Right Panel</a></p>
    </div>
</div>


    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only">
                    <i class="icon icon-bars"></i>
                </a>
            </div>

            <div class="center">Visitors</div>
            <div class="right">
                <a href="#" class="link"> <i class="f7-icons">search_strong</i></a>
                <a href="#" class="link"> <i class="f7-icons">phone_fill</i></a>
            </div>
        </div>
    </div>
<div class="page-content">
    <div class="list-block cards-list">
        <ul>
            <li class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="item-link item-content">
                            <div class="item-media"><img class="img-circle" src="../assets/visitorsImages/vr46.jpg" width="80"></div>


                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Raj Kumar</div>
                                    <div class="item-title">9864795820</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#">12 Oct 17 at 11:23AM</a>
                    <a href="#">Water Cane</a>
                    <a href="#">This is meeting discussion.</a>
                </div>
            </li>

            <li class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="item-link item-content">
                            <div class="item-media"><img class="img-circle" src="/vr46.png" width="80"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Raj Kumar</div>
                                    <div class="item-title">9864795820</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#">12 Oct 17 at 11:23AM</a>
                    <a href="#">Water Cane</a>
                    <a href="#">This is meeting discussion.</a>
                </div>
            </li>

            <li class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="item-link item-content">
                            <div class="item-media"><img class="img-circle" src="/vr46.png" width="80"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Raj Kumar</div>
                                    <div class="item-title">9864795820</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#">12 Oct 17 at 11:23AM</a>
                    <a href="#">Water Cane</a>
                    <a href="#">This is meeting discussion.</a>
                </div>
            </li>

            <li class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="item-link item-content">
                            <div class="item-media"><img class="img-circle" src="/vr46.png" width="80"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Raj Kumar</div>
                                    <div class="item-title">9864795820</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#">12 Oct 17 at 11:23AM</a>
                    <a href="#">Water Cane</a>
                    <a href="#">This is meeting discussion.</a>
                </div>
            </li>

            <li class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="item-link item-content">
                            <div class="item-media"><img class="img-circle" src="/vr46.png" width="80"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Raj Kumar</div>
                                    <div class="item-title">9864795820</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#">12 Oct 17 at 11:23AM</a>
                    <a href="#">Water Cane</a>
                    <a href="#">This is meeting discussion.</a>
                </div>
            </li>

            <li class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="item-link item-content">
                            <div class="item-media"><img class="img-circle" src="/vr46.png" width="80"></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Raj Kumar</div>
                                    <div class="item-title">9864795820</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#">12 Oct 17 at 11:23AM</a>
                    <a href="#">Water Cane</a>
                    <a href="#">This is meeting discussion.</a>
                </div>
            </li>
        </ul>
    </div>
</div>