      <style type="text/css">
   
  ::-webkit-input-placeholder {
  color: #ffffff;
  }
      </style>


      <div class = "login-screen modal-in" >
         <div class = "view">
            <div class = "page">
               <div class = "page-content login-screen-content" style="background-image:url(assets/img/bg_img.jpg) !important;background-size: cover;background-repeat: no-repeat;position: relative;">
               <div id="background" >
                  <div class = "login-screen-title" style="color: #ffffff;margin-bottom: 0px;" ><b>VZ Track</b><br><center style="font-size: 20px;font-style: italic;margin-top: -8px;">#meetSafe</center></div>
                  
                  <form style="border: 1px solid #ffffff;margin: 0px 14px;border-radius: 7px;">
                     <div class = "list-block-area" style="margin-top: 5px;    margin-bottom: 8px;">
                        <ul style="list-style: none;padding-left: 0px;">
                           <li class = "list-content-one" style="padding-right: 7%;padding-left: 7%;height: 50px;">
                              
                                 <div class = "username-input" style="height: 100%;width: 100%;">
                                    <input type="text" name="username" placeholder="Username" style="color: #ffffff;height: 100%;inline-size: 40px;padding-top: 20px;width: 100%;font-size: 15px;">
                                
                              </div>
                           </li>
                           <hr style="margin-left: 7%;margin-right: 7%;border: 0.4px solid #212121;margin-top: 0px;">
                           <li class = "list-content-one" style="padding-right: 7%;padding-left: 7%;height: 50px;">
                             <div class = "password-input" style="height: 100%;width: 100%;">
                                    <input type = "password" name = "password" placeholder = "Password" style="color: #ffffff;height: 100%;inline-size: 40px;padding-top: 20px;width: 100%;font-size: 15px;">
                                 </div>
                             
                           </li>
                           <hr style="margin-left: 7%;margin-right: 7%; border: 0.4px solid #212121;margin-top: 0px;">
                        </ul>
                     </div>
                     
                     <div class = "list-block" style="margin-top: 20px;margin-bottom: 5px;">
                        <ul>
                            <li>
                            <a href="#" class="item-link list-button" style="    color: #ffffff;border: 1px solid #ffffff;margin: 0px 7px;border-radius: 4px;height: 40px;line-height: 40px;">Login</a>
                           </li>
                        </ul>
                        
                        <div style="margin-left: 10px;margin-top: 5px;color: #ffffff;text-align: inherit;font-size: 12px;">Please enter username characters as it is (eg Rqxx.xx.xx)</div>
                        <center style="text-decoration: underline;color: #ffffff">Unable to login?</center>

                     </div>
                  </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
